<div class="setRow">
  <div class="item" [style]="setClass ? blueColor : maroonColor"><div [class]="multipleClassesOne"><label>Name:&nbsp;</label></div></div>
  <div class="item"><div [class]="multipleClassesTwo"><label>Age:&nbsp;</label></div></div>
  <div class="item"><div [class]="multipleClassesThree"><label>Archetype:&nbsp;</label></div></div>
</div>
<div class="setRowTwo">
  <div class="itemTwo" [style]="styleChange"><div class="setAlignment"><p>{{ person.name }}</p></div></div>
  <div class="itemTwo"><div class="setAlignment"><p>{{ person.age }}</p></div></div>
  <div class="itemTwo"><div class="setAlignment"><p>{{ person.archetype }}</p></div></div>
</div>
<br>
<br>
<div [style.position]="position" [style.left.vw]="left">
  <label>Strengths</label>
  <ul>
      <li>Medicine</li>
      <li>Counseling</li> 
      <li>Spell Casting</li>               
  </ul>
</div>
